.btn-category {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: 2px solid #007bff; /* Add a 2px solid border */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.btn-category:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.no-button {
  background: none;
  border: 1 px;
  padding: 0;
  cursor: pointer;
  color: black;
  text-decoration: none;
  font-size: 100%;
  width: 125px;
}

.no-button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

.post-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
  color: #333;
}

.card-info {
  font-size: 0.8rem;
  color: #999;
}

#category_id {
  width: 250px;
}


#profileButton  {
  width: 125px;
}

#profileButton:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

#mainPageButton {
  width: 125px;
}
#mainPageButton:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

#imageURL {
  width: 250px;
  height: 200px;
}

#big-imageURL {
  width: 500px;
  height: 400px;
}